html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i,
center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video
{
  border:0;
  font-size:100%;
  font:inherit;
  margin:0;
  padding:0;
  vertical-align:baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav,
section{display:block}
body{line-height:1}
ol, ul{list-style:none}
blockquote, q{quotes:none}
blockquote:before, blockquote:after, q:before, q:after
{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}


/***********/
/* GENERAL */
/***********/
.theme__light{background-color:#F5F5F5;padding-bottom:80px;}
.theme__dark{background-color:#17202C;padding-bottom:80px;}
.hidden{display:none !important;}
.content_container{margin:auto;max-width:800px;padding:0 0.6em;}

.button__outlined
{
  background-color:transparent;
  border:1px solid;
  border-radius:4px;
  cursor:pointer;
  font:0.8em 'Hind',sans-serif;
  letter-spacing:0.04em;
  outline:none;
  padding:0.45em 1.3em 0.25em;
}

.theme__light .button__outlined{border-color:#7A8BA6;color:#7A8BA6;}
.theme__dark .button__outlined{border-color:#52617A;color:#52617A;}

.labelled_checkbox
{
  cursor:pointer;
  font:0.8em 'Hind',sans-serif;
  letter-spacing:0.04em;
  margin-right:15px;
  position:relative;
}

.theme__light .labelled_checkbox{color:#7A8BA6;}
.theme__dark .labelled_checkbox{color:#52617A;}

.labelled_checkbox:before
{
  border:1px solid;
  border-radius:4px;
  content:'';
  display:block;
  height:16px;
  left:0;
  position:absolute;
  top:0;
  width:16px;
}

.theme__light .labelled_checkbox:before{border-color:#7A8BA6;}
.theme__dark .labelled_checkbox:before{border-color:#52617A;}
.labelled_checkbox__checkbox{visibility:hidden;}
.labelled_checkbox__text{margin-left:3px;}

.labelled_checkbox__text:before
{
  background:transparent;
  border:2px solid;
  border-right:none;
  border-top:none;
  content:'';
  height:5px;
  left:4px;
  opacity:0;
  position:absolute;
  top:4px;
  -webkit-transform:rotate(-45deg);
  -ms-transform:rotate(-45deg);
  transform:rotate(-45deg);
  transition:opacity 80ms ease-out;
  width:9px;
}

.theme__light .labelled_checkbox__text:before{border-color:#7A8BA6}
.theme__dark .labelled_checkbox__text:before{border-color:#52617A}

.labelled_checkbox__checkbox:checked + .labelled_checkbox__text:before
{
  opacity:1;
}

/***************/
/* END GENERAL */
/***************/


/**********/
/* HEADER */
/**********/
#header_container
{
  border-bottom:1px solid;
  padding:2.3em 0 0.5em;
  position:fixed;
  top:0;
  width:100%;
  z-index:2;
}

.theme__light #header_container{background-color:#F5F5F5;border-color:#E0E0E0;}
.theme__dark #header_container{background-color:#17202C;border-color:#2A3545;}

#logo
{
  display:inline-block;
  font:1.8em 'Kanit',sans-serif;
  letter-spacing:0.02em;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}

.logo__word_part_1{font-weight:200;}
.logo__word_part_2{color:#B85C54;font-weight:600;margin-left:-0.4em;}
.theme__light .logo__word_part_1{color:#17202C;}
.theme__dark .logo__word_part_1{color:#FFFFFF;}
/**************/
/* END HEADER */
/**************/


/******************/
/* RECORD OPTIONS */
/******************/
#record_options_container
{
  position:fixed;
  top:89px;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  width:100%;
  z-index:1;
}

.theme__light #record_options_container
{
  background-color:#F5F5F5;
  box-shadow:0px 0px 50px 50px #F5F5F5;
}

.theme__dark #record_options_container
{
  background-color:#17202C;
  box-shadow:0px 0px 50px 50px #17202C;
}

#record_options_container:before
{
  content:'';
  height:30px;
  position:absolute;
  top:-30px;
  width:100%;
}

.theme__light #record_options_container:before{background-color:#F5F5F5;}
.theme__dark #record_options_container:before{background-color:#17202C;}

#record_options_container:after
{
  content:'';
  height:66px;
  position:absolute;
  width:100%;
}

.record_options_row
{
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  margin-top:20px;
}

.record_options_row__level_1
,.record_options_row__level_2
{
  justify-content:space-between;
}

@media only screen
and (max-width:500px)
and (orientation:portrait)
{
  .record_options_row__level_2{justify-content:space-around;}
}

#button__theme_toggle{width:11.5em;}
#button__filter_expired{border-color:#B85C54;width:11.1em;}
#button__filter_expired:active{border-color:#9A514C;}
#button__filter_expired:active .button_label__filter_expired{color:#9A514C;}
.button_label__filter_expired{color:#B85C54;}

.button_label__filter_expired:before
{
  background:url(img/gfx_sprite.png) no-repeat 0px -64px;
  content:'';
  display:block;
  float:left;
  height:16px;
  margin-right:8px;
  position:relative;
  top:1px;
  width:16px;
  z-index:0;
}
/**********************/
/* END RECORD OPTIONS */
/**********************/


/***************/
/* RECORD LIST */
/***************/
#record_list{margin-top:250px;}
/***************/
/* END RECORD LIST */
/***************/


/********************/
/* RECORD LIST ITEM */
/********************/
.list_item{border-bottom:1px solid;}
.theme__light .list_item{border-color:#E0E0E0;}
.theme__dark .list_item{border-color:#000000;}

.list_item_container__main
{
  align-items:center;
  border-left:3px solid;
  cursor:pointer;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  padding:0.8em 1em;
  transition:75ms ease-out;
}

.theme__light .list_item_container__main
{
  background-color:#FFFFFF;
  border-color:#FFFFFF;
}

.theme__dark .list_item_container__main
{
  background-color:#212A38;
  border-color:#212A38;
}

.list_item_image__avatar
{
  background:url(img/gfx_sprite.png) no-repeat;
  display:inline-block;
  height:32px;
  vertical-align:middle;
  width:32px;
}

.theme__light .list_item_image__avatar{background-position:0px 0px;}
.theme__dark .list_item_image__avatar{background-position:0px -32px;}

.list_item_label__name
{
  display:inline-block;
  font:200 1.1em/1.4 'Changa',sans-serif;
  margin-left:0.8em;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  transition:max-width 200ms ease-out;
}

.theme__light .list_item_label__name{color:#7A8BA6;}
.theme__dark .list_item_label__name{color:#7A8BA6;}
.theme__light .list_item__selected .list_item_label__name{color:#3E4C64}
.theme__dark .list_item__selected .list_item_label__name{color:#B3BDCA}
.list_item_container__main:hover{transition:0s linear;}

.theme__light .list_item_container__main:hover
{
  background-color:#EBEEF3;
  border-left-color:#EBEEF3;
}

.theme__dark .list_item_container__main:hover
{
  background-color:#2A3545;
  border-left-color:#2A3545;
}

.theme__light .list_item__expired .list_item_container__main:hover
{
  border-left-color:#B85C54;
}

.theme__dark .list_item__expired .list_item_container__main:hover
{
  border-left-color:#B85C54;
}

.theme__light .list_item__selected .list_item_container__main
{
  background-color:#EBEEF3;
  border-left-color:#EBEEF3;
} 

.theme__dark .list_item__selected .list_item_container__main
{
  background-color:#2A3545;
  border-left-color:#2A3545;
} 

.theme__light .list_item__expired .list_item_container__main
{
  border-left-color:#B85C54;
}

.theme__dark .list_item__expired .list_item_container__main
{
  border-left-color:#B85C54;
}

/*iPhone 5*/
@media only screen
and (min-width:320px)
and (max-width:568px)
and (orientation:portrait)
{
  .list_item__expired .list_item_label__name{max-width:8em;}
}

/*iPhone 6*/
@media only screen
and (min-width:375px)
and (max-width:667px)
and (orientation:portrait)
{
  .list_item__expired .list_item_label__name{max-width:11em;}
}

/*iPhone 6 Plus*/
@media only screen
and (min-width:414px)
and (max-width:736px)
and (orientation:portrait)
{
  .list_item__expired .list_item_label__name{max-width:13em;}
}

.list_item_label__record_expired
{
  display:inline-block;
  font:0.9em/2.5 'Hind',sans-serif;
  float:right;
  margin-left:auto;
}

.theme__light .list_item_label__record_expired{color:#B85C54;}
.theme__dark .list_item_label__record_expired{color:#B85C54;}

.list_item_label__record_expired:before
{
  background:url(img/gfx_sprite.png) no-repeat 0px -64px;
  content:'';
  display:block;
  float:left;
  height:16px;
  margin-right:8px;
  position:relative;
  top:8px;
  width:16px;
  z-index:0;
}
/************************/
/* END RECORD LIST ITEM */
/************************/


/******************/
/* RECORD DETAILS */
/******************/
.list_item_container__detail
{
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  flex-flow:row wrap;
  height:4em;
  overflow:hidden;
  position:relative;
  transition:height 100ms ease-out;
}

.theme__light .list_item_container__detail{background-color:#DCE2E9;}
.theme__dark .list_item_container__detail{background-color:#1C2430;}

.list_item_container__detail__expired:before
{
  background-color:#603A3E;
  content:'';
  display:block;
  height:100%;
  position:absolute;
  width:3px;
}

.detail_table
{
  display:block;
  -webkit-flex:1 24.8%;
  -ms-flexflex:1 24.8%;
  flex:1 24.8%;
}

.theme__light .detail_table{border-left:1px solid #C2CAD6;}
.theme__dark .detail_table{border-left:1px solid #151B27;}

.detail_table_cell__header
{
  font:600 1em/1.2 'Changa',sans-serif;
  letter-spacing:0.01em;
  padding:14px 14px 0 14px;
}

.theme__light .detail_table_cell__header{color:#3E4C64;}
.theme__dark .detail_table_cell__header{color:#3E4C64;}

.detail_table_cell__value
{
  font:200 0.9em/1.2 'Changa',sans-serif;
  letter-spacing:0.05em;
  padding:0 14px 14px 14px;
}

.theme__light .detail_table_cell__value{color:#7A8BA6;}
.theme__dark .detail_table_cell__value{color:#7A8BA6;}

.theme__light .list_item__expired .detail_table__expiration_date .detail_table_cell__value
{
  color:#B85C54;
}

.theme__dark .list_item__expired .detail_table__expiration_date .detail_table_cell__value
{
  color:#B85C54;
}

@media only screen
and (max-width:736px)
and (orientation:portrait)
{
  .list_item_container__detail{height:8.2em;}
  .detail_table{border-bottom:1px solid;flex-basis:49.6%;}
  .theme__light .detail_table{border-bottom-color:#C2CAD6;}
  .theme__dark .detail_table{border-bottom-color:#151B27;}
}

.list_item_container__detail__hidden{height:0;}
/**********************/
/* END RECORD DETAILS */
/**********************/
